a {
    width: calc(50% - 2em)
  }a
   {
    width: -webkit-calc(50% - 2em);
    width: calc(50% - 2em)
  }
  a {
    width: calc(50% - 2em);
    transition: transform 1s
  }
  a {
    width: -webkit-calc(1% + 1em);
    width: calc(1% + 1em);
    -webkit-transition: -webkit-transform 1s;
    transition: -ms-transform 1s;
    transition: transform 1s
   }



   .container {
    display: flex;
   }
   body {
       background-color: teal;
   }
   
   .title {
       display: flex;
    border: .1rem solid;
    max-width: auto;
    min-width: auto;

    
   }

   .details {
       display: flex;
       border: .1rem solid;
   }






